

code[class*="language-"],
pre[class*="language-"] {
	font-family: Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", "Courier New", Courier, monospace;
	font-size: 14px;
	line-height: 1.375;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	background: #1d262f;
	color: #57718e;
}

pre > code[class*="language-"] {
	font-size: 1em;
}

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
	text-shadow: none;
	background: #004a9e;
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
	text-shadow: none;
	background: #004a9e;
}

/* Code blocks */
pre[class*="language-"] {
	padding: 1em;
	margin: .5em 0;
	overflow: auto;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: #4a5f78;
}

.token.punctuation {
	color: #4a5f78;
}

.token.namespace {
	opacity: .7;
}

.token.tag,
.token.operator,
.token.number {
	color: #0aa370;
}

.token.property,
.token.function {
	color: #57718e;
}

.token.tag-id,
.token.selector,
.token.atrule-id {
	color: #ebf4ff;
}

code.language-javascript,
.token.attr-name {
	color: #7eb6f6;
}

code.language-css,
code.language-scss,
.token.boolean,
.token.string,
.token.entity,
.token.url,
.language-css .token.string,
.language-scss .token.string,
.style .token.string,
.token.attr-value,
.token.keyword,
.token.control,
.token.directive,
.token.unit,
.token.statement,
.token.regex,
.token.atrule {
	color: #47ebb4;
}

.token.placeholder,
.token.variable {
	color: #47ebb4;
}

.token.deleted {
	text-decoration: line-through;
}

.token.inserted {
	border-bottom: 1px dotted #ebf4ff;
	text-decoration: none;
}

.token.italic {
	font-style: italic;
}

.token.important,
.token.bold {
	font-weight: bold;
}

.token.important {
	color: #7eb6f6;
}

.token.entity {
	cursor: help;
}

pre > code.highlight {
	outline: .4em solid #34659d;
	outline-offset: .4em;
}


.line-numbers.line-numbers .line-numbers-rows {
	border-right-color: #1f2932;
}

.line-numbers .line-numbers-rows > span:before {
	color: #2c3847;
}


.line-highlight.line-highlight {
	background: rgba(10, 163, 112, 0.2);
	background: -webkit-linear-gradient(left, rgba(10, 163, 112, 0.2) 70%, rgba(10, 163, 112, 0));
	background: linear-gradient(to right, rgba(10, 163, 112, 0.2) 70%, rgba(10, 163, 112, 0));
}


.block-code {
	position: relative;
	width: 500px;
	margin: 20px auto;
	max-height: 300px;
	overflow: auto;
  }

  .codeblock {
	display: flex;
	justify-content: center;
	align-items: center;
	
	  }
  
 /* This is the entire scrollbar */
.codeblock::-webkit-scrollbar {
    width: 10px;  /* Width of the vertical scrollbar */
    height: 9px; /* Height of the horizontal scrollbar */
}

/* This is the track (or background) of the scrollbar */
.codeblock::-webkit-scrollbar-track {
    background: #6c6c6c;
    border-radius: 10px; /* Add rounded corners to the track */
}

/* This is the actual 'thumb' or movable part of the scrollbar */
.codeblock::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px; /* Add rounded corners to the thumb */
    transition: background 0.3s; /* Smooth transition for background color */
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); /* Slight inner shadow for depth */
}

/* Change color of the thumb when you hover over it */
.codeblock::-webkit-scrollbar-thumb:hover {
    background: #555;
}
 /* This is the entire scrollbar */
 .block-code::-webkit-scrollbar {
    width: 10px;  /* Width of the vertical scrollbar */
    height: 9px; /* Height of the horizontal scrollbar */
}

/* This is the track (or background) of the scrollbar */
.block-code::-webkit-scrollbar-track {
    background: #6c6c6c;
    border-radius: 10px; /* Add rounded corners to the track */
}

/* This is the actual 'thumb' or movable part of the scrollbar */
.block-code::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px; /* Add rounded corners to the thumb */
    transition: background 0.3s; /* Smooth transition for background color */
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); /* Slight inner shadow for depth */
}

/* Change color of the thumb when you hover over it */
.block-code::-webkit-scrollbar-thumb:hover {
    background: #555;
}

  
  button {
	position: sticky;

	top: 0px;
	float: right;
	  
	background-color: #2d3748;
	color: #f7fafc;
	border: none;
	border-radius: 4px;
	padding: 5px 10px;
	cursor: pointer;
	transition: background-color 0.3s;
	z-index: 10;  /* Ensures the button is always above the code */
	opacity: 0.4;
  }
  
  button:hover {
	background-color: #1a202c;
	opacity: 1;
  }
  .block-code{
	border-radius: 10px;
  }
  
 @media (max-width:768px) {
	pre > code[class*="language-"] {
		font-size: 13px;
	}
	pre[class*="language-"] {
		font-size: 14px;
	}
	
 }
  